* {
  margin: 0;
  padding: 0
}


*, *::before, *::after {
  box-sizing: inherit
}


::-moz-selection {
  background-color: #2aa198;
  color: #eee;
  text-shadow: none;
}


::selection {
  background-color: #2aa198;
  color: #eee;
  text-shadow: none;
}

:root {
  box-sizing: border-box;
  font-size: 18px;
}

body {
  padding: 25px 36px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #fdf6e3;
  color: #657b83;
}

h1, h2, h3 {
  padding: 6px 0;
}

.subject {
  color: #dc322f;
}

.subject a {
  margin-left: 15px;
  text-decoration: none;
  color: #268bd2;
}

.container {
  -webkit-columns: 3;
     -moz-columns: 3;
          columns: 3;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px
}

@media (min-width: 768px) and (max-width: 991px){


  .container {
    -webkit-columns: 2;
       -moz-columns: 2;
            columns: 2
  }
  }

@media (max-width: 767px) {


  .container {
    -webkit-columns: 1;
       -moz-columns: 1;
            columns: 1
  }
  }

.block {
  display: inline-block;
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  background-color: #eee8d5;
}

.item {
  margin: 10px 0;
}

.code {
}

.code::before {
  content: "$ "
}

.title {
  padding: 5px 0;
  color: #268bd2
}

.title::after {
  content: ":"
}
