* {
  margin: 0;
  padding: 0
}


*, *::before, *::after {
  box-sizing: inherit
}


::-moz-selection {
  background-color: #2aa198;
  color: #eee;
  text-shadow: none;
}


::selection {
  background-color: #2aa198;
  color: #eee;
  text-shadow: none;
}

:root {
  box-sizing: border-box;
  font-size: 18px;
}

body {
  padding: 25px 36px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #fdf6e3;
  color: #657b83;
}

h1, h2, h3 {
  padding: 6px 0;
}

.subject {
  color: #dc322f;
}

.container {
  -webkit-columns: 3;
     -moz-columns: 3;
          columns: 3;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.block {
  display: inline-block;
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  background-color: #eee8d5;
}

.item {
  margin: 6px 0;
}

.code {
}

.code::before {
  content: "$ "
}

.title {
  padding: 5px 0;
  font-size: 0.9rem
}

.title::after {
  content: ":"
}
