$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

* {
  margin: 0;
  padding: 0;

  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}


::selection {
  background-color: $cyan;
  color: #eee;
  text-shadow: none;
}

:root {
  box-sizing: border-box;
  font-size: 18px;
}

body {
  padding: 25px 36px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: $base3;
  color: $base00;
}

h1,
h2,
h3 {
  padding: 6px 0;
}

.subject {
  color: $red;
}

.subject a {
  margin-left: 15px;
  text-decoration: none;
  color: $blue;
}

.container {
  columns: 3;
  column-gap: 10px;

  @media (min-width: 768px) and (max-width: 991px){
    columns: 2;
  }

  @media (max-width: 767px) {
    columns: 1;
  }
}

.block {
  display: inline-block;
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  background-color: $base2;
}

.item {
  margin: 10px 0;
}

.code {

  &::before {
    content: "$ ";
  }
}

.title {
  padding: 5px 0;
  color: $blue;

  &::after {
    content: ":";
  }
}
